* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../content/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.form-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 625px;
  width: 625px;
}

h1, h2 {
  color: #fff;
}

.form-control-label {
  color: #fff;
  text-align: center;
}

textarea, input {
  padding:10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  background-color: #a4a4a4;
}
