<!DOCTYPE html>
<html lang="en">
<head>
  <title>BoomSport liikunta-appro</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>
  <div class="container form-container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Liikunta-appro ilmottautuminen</h1>
      </div>
    </div>
    <form action="/registration" method="post" enctype="application/json">
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control" name="name" placeholder="&#xf007; Nimi">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control" name="email" placeholder="&#xf0e0; Email">
        </div>
      </div>
      <div class="form-group row">
        <% _.each(classes, function(singleClass){ %>
            <label class="col-sm-2 form-control-label"><%= singleClass.time %></label>
            <div class="col-sm-10">
              <div class="btn-group" data-toggle="buttons">
                <% _.each(singleClass.activities, function(activity){ %>
                  <label class="btn btn-secondary">
                   <input type="radio" name='<%= singleClass.time %>' value='<%= activity.name %>'><%= activity.name %>
                  </label>
                <% }); %>
              </div>
            </div>
        <% }); %>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-block btn-success">Ilmottaudu</button>
        </div>
      </div>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>
