<!DOCTYPE html>
<html lang="en">
<head>
  <title>BoomSport liikunta-appro</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>
  <% for(var i in messages) { %>
    <div class="flash">
      <%= messages[i] %>
    </div>
  <% } %>

  <div class="container form-container">
    <form class="form-signin" action="/login" method="post">
      <label for="username" class="sr-only">Tunnus</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

      <label for="password" class="sr-only">Salasana</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Kirjaudu</button>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>
